.showdiff-wrapper{
    display: flex;
    flex-direction: column;
    border:1px solid grey;
}
.showdiff-wrapper .showdiff-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.showdiff-commit-block{
    border: 1px solid gray;
    margin-bottom: 10px;
}
